* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Clarkson", Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000;
}

#nav {
  height: 100px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  /* background-color: #a71717; */
}

#centerNav > h3 {
  cursor: pointer;
  user-select: none;
}
#nav > img {
  height: 30px;
}
#centerNav {
  display: flex;
  gap: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

#rightNav {
  display: flex;
  align-items: center;
  gap: 30px;
}

#rightNav > h3 {
  cursor: pointer;
  user-select: none;
}

#rightNav > button {
  background-color: #fff;
  color: #000;
  padding: 20px 25px;
  font-size: 18px;
  text-transform: uppercase;
  border-style: none;
  font-family: "Clarkson", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 550;
  line-height: 1em;
  cursor: pointer;
  user-select: none;

}

#main > h1 {
  font-size: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

#main > h1 > span {
  font-size: 35px;
  background-color: rgb(161, 7, 7);
  padding: 30px 50px;
  border-radius: 100px;
  margin: 0 35px;
  cursor: pointer;
}


#top-img{
    height: 250px;
    top : 20%;
    left: 3%;
    border-radius: 10px;
    position: absolute;
}
#bottom-img{
    height: 250px;
    bottom : 10%;
    right: 3%;
    border-radius: 10px;
    position: absolute;
}
#topRight-img{
    height: 250px;
    top : 15%;
    right: 5%;
    border-radius: 10px;
    position: absolute;
}

#bottomLeft-img{
    height: 250px;
    bottom : 10%;
    left: 30%;
    border-radius: 10px;
    
}

h5{

    position: relative;
    bottom: 0%;
    transform: translate(-50,0);
    font-size: 20px;
    text-align: center;
    margin-top: 70px;


}